.box_grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 100px;
    row-gap: 30px;
    
}


.box_content
{
    
    max-width: 300px;
    background-color: #ffffff;
    height: 221px;
    padding: 20px 30px;
    border: solid;
    border-radius: 10%;
    border-color: white;
    border: 2px;    
    
}

.image_wrapper{
    display: inline;
    max-width: 60px;

}
.box_image
{
width: 50px;
height: 50px;
}
.text_wrapper
{
    
    margin-bottom: 10px;
}

.undertext_wrapper
{
   
    
    max-width: 250px;

}

.box_text
{
    margin-top: 0px;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-style: bold;
    margin-bottom: 0px;
   
}
.box_secondtext
{
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(68, 68, 68)

}

.big-box_language-content
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(236, 238, 240);
    z-index: 1;
    max-height: 300px;
}








/* Флексбокс для языков*/

.containerlang {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
    justify-content: space-around;
}

.box_language {
    width: calc(33.33% - 40px); /* 33.33% для трех блоков на одной строке, вычет 40px для отступов */
    min-width: 250px; /* Минимальная ширина блока */
    max-width: 350px; /* Максимальная ширина блока */
    height: 350px;
    background-color: #f0f0f0;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.box_language img {
    width: 100%; /* Растягиваем картинку на всю ширину блока */
    height: 100%; /* Растягиваем картинку на всю высоту блока */
    transition: transform 0.3s;
}

.box_language:hover {
    transform: scale(1.1);
}

.box_language .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.7); /* Фон с прозрачностью */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Внутренний отступ */
}

.box_language:hover .text {
    opacity: 1;
}






@media screen and (max-width: 1192px){

        .general_content
        {
        margin-left: 20px;
        margin-right: 20px;
        }
    }
@media screen and (max-width: 1096px){

    .box_grid
    {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 25px;
        
    }
    
}

@media screen and (max-width: 740px){

    .box_grid
    {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-left:0px ;
        margin-right: 0px;
        
    }
    
}
@media screen and (max-width: 400px){
    .box_grid
    {
        grid-template-columns: repeat(1,1fr);
        padding-left: 0px;
        
    }
    .box_content
    {
        max-width: 250px;
    }
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 900px) {
    .box_language {
        width: calc(50% - 40px); /* 50% для двух блоков на одной строке */
    }
}

@media screen and (max-width: 350px) {
    .box_language {
        width: 100%; /* 100% для одного блока на одной строке */
    }
}
