
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.text
{
    font-family: "Tahoma";
    color: rgb(0, 0, 0);
    font-size: 20px;

}
.text_h1
{
    font-family: "Tahoma";
    color: rgb(0, 0, 0);
}
.head_text
{
    font-family: Roboto;
    font-size: 40px;
    font-style: bold;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    left: 30px;
    text-align: center;
    animation-name: headtext;
    
    
}

*{
    font-family: "Tahoma";
    
    
    
}

.text1
{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Monotype Corsiva;
}

.text_h2
{
    color: rgb(0, 0, 0);
    font-size: 30px;
    
}
.text_forms
{
    color: black;
    font-family: Tahoma;
   

}
.box_text
{
    font-size: 20px;
}


.Logotext{
    font-family: "Tahoma";
    color: rgb(255, 255, 255);
    font-size: 20px;
    display:inline-flex ;
     position: relative; 
     left: 25px;
     top:-3px

}
