.loginform
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    flex-wrap: wrap;
    margin-top: 50px;
}

.background{
    width: 430px;
    height: 520px;
    
    transform: translate(-50%,-50%);
   
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #9b22ea,
        #470061
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 520px;
    width: 430px;
  
    border-radius: 10px;
    
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 0 25px 40px rgba(0,0,0,0.1);
    padding: 50px 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
   
    

}
form *{
    font-family: sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
}
form h3 span{
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(155, 155, 155, 0.315);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #ffffff;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: rgba(150, 150, 150, 0.295);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



.loginform .drops {
    width: 100px;
    height: 100px;
    opacity: 1;
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    right: -30px;
    bottom: 0;
    pointer-events: none;
}
.loginform .drops .drop-2::before {
    width: 100px;
    height: 100px;
    opacity: 1;
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    right: -30px;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.loginform .drops .drop-2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    opacity: 1;
     transition: 0.5s;
    animation: animation 4s infinite linear;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
    }

.loginform .drops .drop-1:after {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    display: block;
    position: absolute;
    top: 140px;
    left: -30px;
    right: 0;
    bottom: 0;
    z-index: -2;
    pointer-events: none;
}

.loginform .drops .drop-1::before {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    display: block;
    position: absolute;
    top: 140px;
    left: -30px;
    right: 0;
    bottom: 0;
    z-index: -2;
    pointer-events: none;
}

.loginform .drops .drop-1::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    opacity: 1;
    transition: 0.5s;
    animation: animation 4s infinite linear;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -2s;
    }


    .loginform .drops .drop-3::before {
        width: 80px;
        height: 80px;
        opacity: 1;
        display: block;
        position: absolute;
        top: 400px;
        left: 250px;
        right: 0px;
        bottom: 0;
        z-index: 5;
        pointer-events: none;
    }
    
    .loginform .drops .drop-3::after {
        content: '';
        position: absolute;
        top: 500px;
        left: 250px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        opacity: 1;
         transition: 0.5s;
        animation: animation 4s infinite linear;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        animation-delay: calc(-1s * var(--i));
    }

@keyframes animation {

    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(80px, 0);
    }
    50% {
        transform: translate(60px, -30px);
    }
    75% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}
